<head>
	<title>>>{{.Parent.ID}} | {{.Parent.HumanID}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
	width: 60vw;
	margin: auto;
}

div.content {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:1ch;
	margin-bottom: 1ch;

	border: solid;
	padding: 1%;
}

div.parent p{
	width: 80%;
}

div.post {
	border: solid;
	padding: 1%;

	width: 80%;
	margin: auto;
}

div.new-post-form {
	width: 80%;
	margin: auto;
	
	border: solid;
	padding: 1%;
}

div.new-post-form textarea {
	padding: 2ch;
	resize: vertical;

	width:100%;
}

div.new-post-form input {
	width:100%;
}

</style>
</head>
<body>
	<div class="content">
		<div class="parent">
			<strong>{{.Parent.HumanID}} </strong><p> {{.Parent.Content}}</p>
		</div>
		{{range .Children}}
			<div class="post">
				<a href="{{.ID}}">{{.ID}}</a> <strong>{{.HumanID}}</strong><br>
				{{.Content}}
			</div>
			<br>
		{{end}}
		<!-- New Posts forms -->
		{{if (eq .Parent.PostType 0)}} <!-- New thread -->
		<div class="new-post-form">
		<form action='/{{.Parent.ID}}' method='post'>
			<input type='text' value="Untitled thread" name='humanID'>
			<textarea id='content' name='content' contenteditable='true' rows=10></textarea>
			<input type='submit' value='New Thread'>
		</form>
		</div>
		{{end}}
		{{if (eq .Parent.PostType 1)}} <!-- New reply -->
		<div class="new-post-form">
		<form action='/{{.Parent.ID}}' method='post'>
			<input type='text' value="Anon" name='humanID'>
			<textarea id='content' name='content' contenteditable='true' rows=10></textarea>
			<input type='submit' value='New Reply'>
		</form>
		</div>
		{{end}}
	</div>
</body>
